In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [3]:
def add_numbers(x, y):
    return x + y
add_numbers(1, 2)

3

In [4]:
def add_numbers(x, y, z=None):
    if (z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1, 2))
print(add_numbers(1,2,3))

3
6

In [23]:
def add_numbes(x, y, z=None):
    if (z==None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1, 2, 3))

6

## The Python Programming Language: Types and Sequences

In [24]:
type("This is a string")

str

In [25]:
type(None)

NoneType

In [26]:
type(1)

int

In [27]:
type(3.0)

float

In [28]:
type(add_numbers)

function

In [29]:
x = (1, 3, 3, 'b')
type(x)

tuple

In [30]:
y = [1, 3, 4, 'd']
type(y)

list

In [32]:
y.append(3.3)

In [33]:
for item in y:
    print(item)

1
3
4
d
3.3

In [35]:
i = 0
while i < len(y):
    print(y[i])
    i += 1

1
3
4
d
3.3

In [36]:
[1, 3] + [2, 4]

[1, 3, 2, 4]

In [37]:
[1] * 3

[1, 1, 1]

In [38]:
1 in [1, 2, 3]

True

In [39]:
x = "This is a string"
print(x[0])
print(x[0:1])
print(x)

T
T
This is a string

In [40]:
x[-1]

'g'

In [41]:
x[-4:-2]

'ri'

In [42]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [43]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

In [1]:
'Chris' + str(2)

'Chris2'

In [3]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [4]:
fname

'Christopher'

In [5]:
lname

'Brooks'

In [6]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

In [7]:
print('Chris' + str(2))

Chris2